---
import stateConfig from '~@/slate.config';

interface Props {
  copyright?: string;
}

const { copyright = stateConfig.footer?.copyright } = Astro.props;
---

<footer class="mt-auto flex items-center justify-between pt-6">
  <div class="text-slate8 text-sm">{copyright}</div>
</footer>
