---
import type { ThemeOptions } from '@/typings/config';
import slateConfig from '~@/slate.config';
import ThemeSelect from '../theme-select';
import Button from '../button';

const pathname = new URL(Astro.request.url).pathname;
const isSubPage = pathname !== '/';
---

<header>
  <div class={`flex relative ${!isSubPage ? "pb-18" : ""}`}>
    {isSubPage && (
      <div class="mb-16">
        <Button className="size-18" id="back">←</Button>
      </div>
    )}
    <div class="ml-auto">
      {(slateConfig.theme as ThemeOptions).enableUserChange && <ThemeSelect client:visible />}
    </div>
  </div>
</header>

<script>
  document.getElementById('back')?.addEventListener('click', () => {
    window.history.back();
  });
</script>